<%= form_for @teacher, method: :post, url: sign_up_teacher_path do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :user do |g| %>
  
    <div class="field">
      <%= g.label :name %><br>
      <%= g.text_field :name, placeholder: "ex. José da Silva Santos" %>
    </div>

    <div class="field">
      <%= g.label :email %><br>
      <%= g.email_field :email, placeholder: "ex. jose_da_silva@hotmail.com" %>
    </div>

    <div class="field">
      <%= g.label :password %><br>
      <%= g.password_field :password %>
    </div>

    <div class="field">
      <%= g.label :password_confirmation %><br>
      <%= g.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= g.label :gender %><br>
      <%= g.select :gender, [["(prefiro não dizer)", nil], ["Masculino", "M"], ["Feminino", "F"]] %>
    </div>

    <div class="field">
      <%= g.label :birthdate %><br>
      <%= g.date_field :birthdate %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', teachers_path %>