<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @subject.school %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @subject.short_description %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
